<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <a>Title <%= form.text_field :title %></a>
  <a>Status <%= form.select :status, [["未着手", "未着手"], ["進行中", "進行中"], ["済", "済"]], include_blank: "選択" %></a>
  <%= form.submit 'Search', name: nil %>
<% end %>

<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th><%= link_to "Deadline", tasks_path(sort_deadline: "true") %></th>
      <th><%= link_to "Created at", tasks_path %></th>
      <th>Priority</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline %></td>
        <td><%= task.created_at.to_s(:db) %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %> <%= link_to 'All', tasks_path %>
